[Desktop Entry]
Encoding=UTF-8
Name=Link to Обзор JavaScript-сканнеров штрихкодов / Хабр
Type=Link
URL=https://habr.com/ru/post/442770/
Icon=text-html
